<a href="https://colab.research.google.com/github/ByeonJuHwan/PythonStudy/blob/main/py02_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 자료 타입

* 숫자 타입
    * `int` : 정수
    * `float` : 실수
* 문자열 타입
    * `str`
* 논리 타입
    * `bool` : True / False
* 객체 타입

파이썬은 변수를 선언할 때 자료 타입을 명시하지 않음! 변수의 자료 타입은 코드가 실행될 때 결정됨.

In [8]:
# 주석 (comment)
# 변수_이름 = 값
n = 123
print(n)
print(type(n)) # type(arg) : arg의 자료 타입을 리턴.

123
<class 'int'>

In [9]:
n = 3.14
print(type(n))

<class 'float'>

식(expression) : 값, 변수, 계산식(연상), 함수 호출.

문장(statement) : 코드의 최소 실행 단위.

ipynb(IPython notebook) 코드셀 에서 가장 마지막 줄에 있는 문장이 식(expression)이면, 그 식을 평가한 결과를 콘솔 창에 출력해 줌. (print 함수를 사용하지 않아도 됨.)

In [10]:
x = 1
y = 2
x + y

3

## 명시적 타입 변환

* `int(값)` : 값을 정수 타입으로 변환해서 리턴.
* `float(값)` : 값을 실수 타입으로 변환해서 리턴.
* `str(값)` : 값을 문자열로 변환해서 리턴.

In [11]:
# colab 노트북의 콘솔에서 입력 받은 방법 : 
n = input('정수 입력>>>')

정수 입력>>>123

In [12]:
type(n)

str

In [13]:
n = int(n) # 변수 n의 타입을 int 타입으로 변환한 후 n에 저장.

In [14]:
type(n)

int

# 산술 연산자 

종류: `+, -, /, *, //, %, **`

* `/` : 소수점까지 계산하는 나눗셈.
* `//` : 몫
* `%` : 나머지
* `**` : 거듭 제곱

In [16]:
10 / 3

3.3333333333333335

In [18]:
10 // 3

3

In [20]:
10 % 3

1

In [23]:
10 ** 2

100

## 문자열(str) 타입에서 사용할 수 있는 산술 연산자.

* `+` : concatenate. 문자열 이어 붙이기
* `*` : replicate. 문자열 복제

In [25]:
'Hello' + 'Python'

'HelloPython'

In [26]:
'Hello' * 5

'HelloHelloHelloHelloHello'

# 비교 연산자와 논리 연산자

* 비교 연산자 : `== , !=, >, >=, <, <=`
* 논리 연산자 : `and, or, not`

In [27]:
x = 100

In [28]:
(x>50) and (x<150)

True

In [29]:
50 < x <150

True

# Ex 1. 조건문

* 3개의 정수를 입력받고 각각 변수에 저장.
* 3개 정수의 평균을 소수점까지 계산하고 출력
* 평균이 90 이상이면 A, 80점 이상이면 B, 70점 이상이면 C, 70점 미만이면 F를 출력.

In [40]:
a = input('점수 입력 >>>')
a = int(a)
b = input('점수 입력 >>>')
b = int(b)
c = input('점수 입력 >>>')
c = int(c)

avg = (a+b+c)/3
print('평균 = ', avg)

if avg>=90:
    print('A')
elif avg>= 80:
    print('B')
elif avg>=70:
    print('C')
else:
    print('F')

점수 입력 >>>70
점수 입력 >>>72
점수 입력 >>>73
평균 =  71.66666666666667
C

# Ex 2. 반복문

* 구구단 12단 (12 x 1, ... ,12 x 12) 을 출력

In [39]:
for i in range(1,13):
    print('12 x', i)

12 x 1
12 x 2
12 x 3
12 x 4
12 x 5
12 x 6
12 x 7
12 x 8
12 x 9
12 x 10
12 x 11
12 x 12