<a href="https://colab.research.google.com/github/ByeonJuHwan/PythonStudy/blob/main/py04_iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# for 반복문

```
for 변수 in iterable_type:
    반복해서 실행할 코드 블록
```

*  iterable_type: 반복가능한 타입의 객체
    * range, list, tuple, dict, set, str, ...
* `range` 함수
    * `range(stop)` :
        * 0 <= x < stop 범위의 1씩 증가하는 정수들을 생성.
    * `range(start, stop)` :
        * start <= x < stop 범위의 1씩 증가하는 정수들을 생성.
    * `range(start, stop, step)` :
        * step > 0 경우 : start <= x < stop 범위의 step 만큼씩 증가하는 정수들을 생성.
        * stop < 0 경우 : start >= x > stop 범위의 stop 만큼씩 감소하는 정수들을 생성.

In [26]:
for x in range(5): # 0 <= x <5
    print(x, end=' ')

0 1 2 3 4

In [27]:
for x in range(1, 6): # 1<= x <6
    print(x, end=' ')

1 2 3 4 5

In [28]:
for x in range(1, 10, 2): # 1<= x <10
    print(x, end =' ')

1 3 5 7 9

In [29]:
for x in range(10,0,-2): # 10 >= x > 0
    print(x, end=' ')

10 8 6 4 2

# 중첩 반복문

In [ ]:
# 구구단 2단부터 9단까지 출력

for x in range(2,10):
    for y in range(1,10):
        print(f'{x} x {y} = {x * y}')
    print('----------')

## break와 continue

* `break` : iteration 을 종료하고 , break가 포함된 가장 가까운 반복문을 빠져나옴.
* `continue` : 반복문 내부의 실행을 멈추고, 그 다음 iteration을 계속함.

In [31]:
for x in range(5):
    if x == 2:
        break
    print(x, end=' ')

0 1

In [ ]:
for x in range(2,10):
    for y in range(1,10):
        if x < y:
            break
        print(f'{x} x {y} = {x * y}')
    print('----------')

In [ ]:
for x in range(2,10):
    for y in range(1,x+1):
        print(f'{x} x {y} = {x * y}')
    print('----------')

# while 반복문

```
[초기화 문장]
while 조건식:
    조건식이 참일 때 실행할 코드 블록.
    [조건을 변경할 수 있는 문장]
```

In [34]:
x=1
while x<=5:
    print('*' * x)
    x+=1

*
**
***
****
*****

In [35]:
# 1 이상 10 미만의 홀수들을 한줄에 출력
x=1
while x<10:
    print(x, end=' ')
    x+=2

1 3 5 7 9