<a href="https://colab.research.google.com/github/ByeonJuHwan/PythonStudy/blob/main/py05_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List(리스트)

list : 여러개의 값들을 하나의 변수에 저장하기 위한 데이터 타입.

* element(원소, 요소): 리스트에 저장되는 각각의 값.
* index(인덱스) : 리스트에 원소들이 저장된 위치.
    * 리스트의 인덱스는 **0**부터 시작
    * 리스트의 마지막 인덱스는 **(원소 개수 -1)**
* 리스트는 원소들을 추가/삭제/변경할 수 있음.
    * `tuple`과 다른점!

In [95]:
# 숫자들을 저장하는 리스트
numbers = [1,2,3,10,20,30]
print(numbers)

[1, 2, 3, 10, 20, 30]

## indexing

인덱스를 사용해서 리스트에서 원소를 참조하는 방법.

In [96]:
numbers[0] # 리스트의 첫번째 원소 값

1

In [97]:
numbers[5]# 리스트의 마지막 원소 값

30

In [98]:
numbers[-1]

30

## slicing

인덱스를 사용해서 리스트의 부분집합(리스트)를 잘라내는 방법.

```
list[start:end]
```

* start <= index < end 범위의 인덱스 위치의 원소들을 잘라냄.
* start를 생략한 경우에는 첫번째 원소부터 잘라냄. `list[:10`과 `list[0:10]`은 동일.
* end를 생략한 경우에는 마지막 원소까지 잘라냄.
* 리스트를 slicing한 결과는 또다른 새로운 리스트!

In [99]:
# 리스트 numbers에서 첫번째 원소부터 순서대로 3개 잘라냄
numbers[:3]

[1, 2, 3]

In [100]:
# 리스트 numbers에서 끝에서 3개의 원소를 잘라냄
numbers[-3:]

[10, 20, 30]

In [101]:
print(numbers[0:1])
print(numbers[0])

[1]
1

# 문자열

문자열 : 문자들의 리스트. indexing, slicing을 사용할 수 있음.

In [102]:
message = '안녕하세요, 파이썬!' # 11개의 문자들을 원소로 갖는 문자열

In [103]:
message[0] # 문자열의 첫번째 글자

'안'

In [104]:
message[10] # 문자열의 마지막 글자

'!'

In [105]:
message[-1]

'!'

In [106]:
message[:3] # 앞에서 3글자

'안녕하'

In [107]:
message[-3:] # 뒤에서 3글자

'이썬!'

In [108]:
# 문자열 + 문자열
'Hello' + 'Python'

'HelloPython'

In [109]:
# 문자열 + 정수 또는 정수 * 문자열
'Hello' * 3

'HelloHelloHello'

# list의 산술 연산

* `list + list`
* `list * 정수` 또는 `list * 정수`

In [110]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [111]:
3*[1,2,3]

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# list 객체의 기능 (메서드)

* `list.append(arg)` : 리스트의 가장 마지막에 새로운 원소(value)를 추가.
* `list.insert(index, value)` : 리스트의 index 위치에 value를 추가.
* `list.extend(iterable)` : list1 + list2
* `list.remove(value)` : 리스트에서 처음 등장하는 value를 삭제.
* `list.pop(index)` : 리스트에서 index 위치에 있는 원소를 삭제.
* `list.clear()` : 리스트의 모든 원소를 삭제.

In [112]:
list1 = [1,2,3,4,5]

In [113]:
list1.append(10)

In [114]:
list1

[1, 2, 3, 4, 5, 10]

In [115]:
list1.extend([100,200,300])

In [116]:
list1

[1, 2, 3, 4, 5, 10, 100, 200, 300]

In [117]:
list1.append([1,2,3,4,5])

In [118]:
list1

[1, 2, 3, 4, 5, 10, 100, 200, 300, [1, 2, 3, 4, 5]]

In [119]:
list1.clear()

In [120]:
list1

[]

# list와 for반복문

In [121]:
for x in '안녕하세요':
    print(x)

안
녕
하
세
요

In [122]:
numbers = [1,3,10,20]
for x in numbers:
    print(x)

1
3
10
20

In [123]:
for i, v in enumerate(numbers):
    print(i, ' : ', v)

0  :  1
1  :  3
2  :  10
3  :  20

 파이썬에서 난수 생성 : `ramdom` 모듈을 import하고 ,random모듈의 함수를 사용.

In [124]:
import random

In [125]:
random.random() # [0,1) 0 <= x < 1 범위의 실수 난수 1개를 리턴.

0.8932116246757769

In [126]:
random.randrange(10) # [0, 10) 범위의 정수 난수 1개를 리턴.

4

In [127]:
random.randint(0,2) # [0,2] 범위의 정수 난수 1개를 리턴.

0

Exercises

## Ex 1.

1. 빈 리스트를 생성
2. `[1,10]` 1이상 10 이하의 정수 난수 5개를 저장.
3. 리스트의 모든 정수들의 합을 출력.
4. 리스트의 모든 정수들의 평균을 출력.

In [128]:
a=[random.randint(1,10) for _ in range(5)]
print(f'리스트의 합 = {sum(a)}')
avg = sum(a)/len(a)
print(f'리스트의 평균 = {sum(a)/len(a)}')

리스트의 합 = 30
리스트의 평균 = 6.0

## EX 2.

1. 빈 리스트(numbers)생성.
1. 10 이상, 100 미만의 정수 난수 10 개를 numbers 에 저장.
1. numbers에서 짝수들만 선택해서 evens 리스트를 만듦.
1. numbers에서 홀수들만 선택해서 odds 리스트를 만듦.

In [129]:
numbers = [random.randrange(10,100) for _ in range(10)]
print(numbers)
evens=[x for x in numbers if x%2==0]
odds = [x for x in numbers if x%2==1]
print(evens)
odds

[17, 67, 36, 28, 73, 38, 32, 65, 60, 15]
[36, 28, 38, 32, 60]

[17, 67, 73, 65, 15]

## Ex 3.

1. 빈리스트 (numbers) 를 만듦.
1. -10 이상 10 이하인 범위의 정수 난수 10개를 numbers에 저장.
1. numbers의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 is_positive 리스트를 만듦.

In [130]:
numbers = [random.randint(-10,10) for _ in range(10)]
print(numbers)
is_positive=['True' if x>=0 else 'False' for x in numbers]
print(is_positive)

[-3, 4, -6, -1, 4, 7, 2, 6, -10, -2]
['False', 'True', 'False', 'False', 'True', 'True', 'True', 'True', 'False', 'False']

## Ex 4.

1. gender_codes 리스트에 0 또는 1을 랜덤하게 10개를 저장.
2. gender_codes의 값이 0이면 'Male', 그렇지 않으면 'Female' 을 저장하는 genders 리스트를 만듦.

In [131]:
gender_codes = [random.randint(0,1) for _ in range(10)]
print(gender_codes)
genders=['Male' if x == 0 else 'Female' for x in gender_codes]
print(genders)

[1, 0, 0, 1, 0, 0, 0, 0, 0, 1]
['Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female']

# list comprehension(리스트 내포)

1부터 10까지 정수들을 차례로 저장하고 있는 리스트

In [132]:
numbers = []
for x in range(1,11):
    numbers.append(x)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [133]:
numbers=[x for x in range(1,11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Ex. 12월 26일 과제

In [134]:
numbers1 = [random.randrange(0,10) for _ in range(10)]
print(numbers1)
numbers2 = [random.randrange(0,10) for _ in range(10)]
print(numbers2)
adds = [numbers1[n]+numbers2[n] for n in range(10)]
print(adds)
subtracts = [numbers1[n]-numbers2[n] for n in range(10)]
print(subtracts)
multiplications = [numbers1[n]*numbers2[n] for n in range(10)]
multiplications

[1, 0, 3, 1, 7, 8, 7, 6, 6, 5]
[0, 8, 6, 5, 1, 1, 9, 0, 0, 0]
[1, 8, 9, 6, 8, 9, 16, 6, 6, 5]
[1, -8, -3, -4, 6, 7, -2, 6, 6, 5]

[0, 0, 18, 5, 7, 8, 63, 0, 0, 0]