<a href="https://colab.research.google.com/github/ByeonJuHwan/PythonStudy/blob/main/py06_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tuple(튜플)

* 저장된 원소들을 변경할 수 없는 리스트
* indexing, slicing 
* `append(), remove()` 와 같은 원소를 변경하는 메서드(기능)는 제공되지 않음.

In [3]:
numbers = (1,2,3,10,20,30)
numbers

(1, 2, 3, 10, 20, 30)

In [5]:
type(numbers)

tuple

# indexing

인덱스를 사용해서 원소 1개를 참조하는 방법.

In [6]:
numbers[0] # 튜플의첫번째 원소

1

In [7]:
numbers[-1] # 튜플의 마지막원소

30

In [9]:
# 튜플에서 첫 2개 원소를 잘라내기
numbers[:2]

(1, 2)

In [10]:
# 튜플에서 마지막 2개 원소를 잘라내기
numbers[-2:]

(20, 30)

# decomposition(분해)

In [12]:
x,y,z = (1,2,3)
x,y,z

(1, 2, 3)

# tuple 과 for 반복문

In [14]:
numbers= (1,3,5,7,9)
for x in numbers:
    print(x,end=' ')

1 3 5 7 9

# 2차원 리스트, 튜플

In [16]:
numbers=[
    [1,2,3],[4,5,6]
]
numbers

[[1, 2, 3], [4, 5, 6]]

In [20]:
for row in numbers:
    for x in row:
        print(x, end=' ')
    print()

1 2 3
4 5 6

## Exercise

1. 2x2 모양의 난수를 저장하는 2차원 리스트 array1을 만듦.
1. 2x2 모양의 난수를 저장하는 2차원 리스트 array2을 만듦.
1. array1과 array2의 같은 인덱스의 원소들끼리 뎃셈 결과를 갖는 2차원 리스트를 만듦.

In [54]:
import random as r

array1 = []
a=[r.randrange(10) for _ in range(2)]
b=[r.randrange(10) for _ in range(2)]
array1.append(a)
array1.append(b)
for row in array1:
    for x in row:
        print(x, end=' ')
    print() 

a=[r.randrange(0,10) for _ in range(2)]
b=[r.randrange(0,10) for _ in range(2)]
array2 = []
array2.append(a)
array2.append(b)
for row in array2:
    for x in row:
        print(x, end=' ')
    print()
 
adds=[]
for x in range(2):
    a=[]
    for y in range(2):
        a.append(array1[x][y]+array2[x][y])
    adds.append(a)
adds

6 7
0 9
7 2
1 7

[[13, 9], [1, 16]]

In [57]:
array1 = []
for _ in range(2):
    row = []
    for _ in range(2):
        row.append(r.randrange(10))
    array1.append(row)
array1

[[3, 9], [0, 2]]

In [60]:
array2=[[r.randrange(10) for _ in range(2)] for _ in range(2)]
array2

[[2, 3], [6, 0]]

In [61]:
adds = [[x+y for x,y in zip(row1,row2)] for row1, row2 in zip(array1,array2)]
adds

[[5, 12], [6, 2]]