<a href="https://colab.research.google.com/github/ByeonJuHwan/PythonStudy/blob/main/py09_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수(function)

* 함수(function) : 기능을 수행하는 코드 블록.
* 인수(argument) : 함수를 호출할 때 함수에게 전달하는 값(들).
* 매개변수(parameger) : argument를 저장하기 위해서 함수를 정의할 때 선언하는 (지역) 변수.
* 반환 값(return value) : 함수가 기능의 수행 결과로 반환하는 값.
    * 반환 값이 있는 함수
    * 반환 값이 없는 함수

파이썬에서 함수 정의하는 방법 :

```
def function_name([param,...]):
    ["""문서화 주석 : 함수 설명, 파라미터 설명, 리턴 값 설명"""]
    함수 기능 코드 블록
    [return 값]

```

In [95]:
def subtract(x,y):
    """ 숫자 x,y를 전달받아서, x-y를 리턴하는 함수."""
    return x-y

In [96]:
subtract(1,2)

-1

파이썬의 함수는 2개 이상의 값을 반환할 수 있음. 튜플을 리턴하는 것.

In [97]:
def plus_and_minus(x,y):
   """2개의 숫자 x,y를 전달 받아서, x+y와 x-y를 리턴하는 함수"""
   return x+y, x-y

In [98]:
plus_and_minus(1,2)

(3, -1)

In [99]:
plus, minus = plus_and_minus(1,2)
print(plus)
minus

3

-1

값을 반환하지 않는 함수.

In [100]:
def repeat_message(message, n):
    """문자열 message와 반복 횟수 n을 전달받아서, 문자열을 n번 출력하는 함수."""
    for _ in range(n):
        print(message)

In [101]:
result = repeat_message("난 최고다",3)
result
print(f'result = {result}')

난 최고다
난 최고다
난 최고다
result = None

# 함수 작성 연습

In [102]:
import random as r # 난수 생성
import math as m # sqrt() 함수

## Ex 1.

* 함수 이름 : make_list(start,end,n)
* 기능 : start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환하는 함수.

In [103]:
def make_list(start, end ,n):
    arr=[r.randrange(start,end) for _ in range(n)]
    return arr
make_list(0,10,3)

[9, 6, 8]

## Ex 2.

* 함수 이름 : calc_sum
* 기능 : 숫자들의 리스틀르 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.

In [104]:
def calc_sum(arr):
    sum=0
    for x in arr:
        sum+=x
    return sum

arr = make_list(0,10,3)
print(arr)
calc_sum(arr)

[0, 4, 8]

12

## Ex 3.

* 함수 이름 : calc_mean
* 기능 : 숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.

In [105]:
def calc_mean(arr):
    avg = sum(arr)/len(arr)
    return avg

arr = make_list(0,10,3)
print(arr)
calc_mean(arr)

[2, 1, 7]

3.3333333333333335

## Ex 4.

* 함수 이름 : calc_var
* 기능 : 숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산 (variance)을 리턴하는 함수.
    * 분산 : (값 - 평균)**2 들의 평균

In [106]:
def calc_var(arr):
    avg = calc_mean(arr)
    result = 0
    for x in arr:
        result += (x-avg)**2
    return result/len(arr)

arr = make_list(0,10,3)
print(arr)
calc_var(arr)

[9, 5, 5]

3.5555555555555554

## Ex 5.

* 함수 이름 : calc_stddev
* 기능 : 숫자들의 리스트를 전달받아서, 리스트의 원소들의 표준편차를 리턴하는 함수.
    * 표준 편차 = root(분산)

In [107]:
def calc_stddev(arr):
    result = calc_var(arr)
    return m.sqrt(result)

arr = make_list(0,10,3)
print(arr)
calc_stddev(arr)

[2, 9, 5]

2.8674417556808756

# Ex 6.

* 함수 이름 : find_max_and_min
* 기능 : 숫자들의 리스트에서 최댓값과 최솟값을 리턴하는 함수.

In [108]:
def find_max_and_min(arr):
    arr.sort()
    return arr[0],arr[-1]

arr = make_list(0,10,3)
print(arr)
min,max = find_max_and_min(arr)
print(f'최솟값 = {min}, 최댓값 = {max}')

[5, 4, 7]
최솟값 = 4, 최댓값 = 7

# Default argument (기본 인수)

* 함수를 정의할 때 파라미터에 설정한 기본값.
* 함수를 호출할 때 default argument가 있는 파라미터에 값을 전달하지 않으면, 기본값이 사용됨.
* 함수를 호출할 때 default argument가 있는 파라미터에 값을 전달하면, 기본값은 무시되고 전달한 값을 사용함.
* **(주의)** 함수를 정의할 때, default argument가 있는 파라미터들은 default argument가 없는 파라미터들 뒤에 선언해야 함!

In [109]:
def repeat_message2(msg, n=1):
    for _ in range(n):
        print(msg)

In [110]:
repeat_message2('Hello')

Hello

In [111]:
repeat_message2('Hello',3)

Hello
Hello
Hello

# argument 전달 방법 :

* **positional argument** : 함수 정의에선 선언된 파라미터 순서대로 argument들을 전달 하는 방법.
* **keyword argument** : `param = value` 형식으로 argument들을 전달하는 방법.
    * keyword argument 방식으로 argument들을 전달할 때는 파라미터 순서를지키지 안항도 됨.
* **(주의)** : 함수를 호출할 때 positional 방법과 keyword 방법을 함께 사용하는 경우에는 반드시 positional argument들이 먼저 전달되어야 하고, keyword argument 들은 positional argument들 뒤에 전달되어야 함.

In [112]:
def minus(x, y):
    return x-y

In [113]:
minus(1,2) # positional argument

-1

In [114]:
minus(x=1, y=2) # keyword argument

-1

In [115]:
minus(y=2, x=1) # keyword 방식에서는 파라미터 순서를 지키지 않아도 됨.

-1

In [116]:
minus(1,y=2) # positional 방식과 keyword 방식을 함께 사용해도 됨.

-1

In [117]:
# minus(y=2,1) 에러남. 두 방법을 같이 사용할때는 순서를 잘 지켜서 사용해야한다.

# 가변길이 인수 (variable - length argument)

* 함수를 호출할 때 전달하는 값(argument)의 개수가 임의로 변할 수 있는 것.
    * argument를 전달하지 않아도 됨.
* 함수를 정의할 때 파라미터 이름 앞에 `*`를 사용하면 가변길이 인수를 전달받을 수 있음.
* 함수 내부에서 가변길이 인수는 tuple로 취급해서 코드를 작성.
    * 인덱스 사용 가능.
    * for-in 구문 사용 가능.
* **(주의)**
    * 가변길이 인수는 keyword 방식으로 전달할 수 없음!
    * 함수에서 가변길이 인수를 갖는 파라미터는 오직 1개만 선언 가능!

In [118]:
print('abc')
print()
print('abc','def')

abc

abc def

In [119]:
def add_all(*values):
    total = 0
    for x in values:
        total += x
    return total

In [120]:
add_all()

0

In [121]:
add_all(1,2,3)

6

In [122]:
def test(*x,y):
    print(x)
    print(y)

In [123]:
test(1,2,y=3)

(1, 2)
3

# 가변길이 키워드 인수(variable-length keyword argument)

* variable-length arg -  함수를 호출할 때 전달하는 argument 개수 제한이 없음.
* keyword arg -  함수를 호출할 때 argument 반드시 `param=value` 형식으로 전달.
* 함수를 정의할 파라미터 이름 앞에 `**`를 붙임.
* 함수 내부에서는 dict로 취급해서 코드를 작성.
* 함수에 가변길이 키워드 인수는 오직 1개만 선언 가능.

In [124]:
def test2(**kwargs):
    print(kwargs)

In [125]:
test2(x=1,msg='hello',y=123)

{'x': 1, 'msg': 'hello', 'y': 123}

In [126]:
def make_emp(emp_no,emp_name,**kwargs):
    emp = {'emp_no' : emp_no, 'emp_name' : emp_name}
    for k,v in kwargs.items():
        emp[k] = v
    return emp

In [127]:
make_emp(1,'변주환')

{'emp_no': 1, 'emp_name': '변주환'}

In [131]:
make_emp(2,'scott',phone='010-2222-2222', email='test@test.com')

{'emp_no': 2,
 'emp_name': 'scott',
 'phone': '010-2222-2222',
 'email': 'test@test.com'}

In [133]:
def make_emp2(emp_no,emp_name,**kwargs):
    emp={'emp_no' : emp_no,'emp_name': emp_name, 'email':None, 'phone' : None}
    for k,v in kwargs.items():
        if k == 'email' or k == 'phone':
            emp[k] = v

    return emp

In [134]:
make_emp2(3, 'tiger' , email='tiger@test.com',tel='010-000-000')

{'emp_no': 3, 'emp_name': 'tiger', 'email': 'tiger@test.com', 'phone': None}