<a href="https://colab.research.google.com/github/ByeonJuHwan/PythonStudy/blob/main/py10_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

함수는 객체(object)다.

* 함수는 변수에 할당할 수 있음.
* 함수의 파라미터에 다른 함수를 전달할 수 있음.
* 함수의 리턴 값이 함수가 될 수 있음.
* 함수 내부에서 다른 함수를 정의할 수 있음.

# 험수를 변수에 할당

In [167]:
def twice(x):
    return 2*x

In [168]:
result = twice(5) # 함수 twice의 호출 결과 (리턴 값) 을 변수 result에 할당.
result

10

In [169]:
double = twice # 함수 twice 객체를 변수 double에 할당.
double

In [170]:
double(100)

200

## 파라미터에 함수를 전달

In [171]:
def calculator(x,y,fn):
    """
    x, y: 숫자 타입(int,float)
    fn: 숫자 2개를 argument로 전달받고, 숫자를 리턴하는 함수.
    """
    result = fn(x,y)
    return result

In [172]:
def plus(x,y):
    return x+y

In [173]:
calculator(1,2,plus)

3

## 내부 함수, 함수 리턴

In [174]:
def make_increments(n):
    # 내부 함수 (inner function). 지역 함수(local function)
    def add_n(x):
        # 내부 함수는 외부 함수의 지역 변수들을 사용할 수 있음.
        return x+n
    return add_n

In [175]:
increase_by_2 = make_increments(2)

In [176]:
increase_by_2

In [177]:
increase_by_2(100)

102

In [178]:
increase_by_10 = make_increments(100)
increase_by_10(10)

110

# 람다 표현식(Lambda expression)

* 이름이 없는 함수 표기법.
* 함수 이름 없이 함수의 파라미터 선언과 반환 값 또는 리턴 식으로만 함수를 정의하는 방법.
* 파이썬은 2줄 이상의 문장이 포함된 람다 표현식은 제공하지 않음.

```
lambda p1,p2,... : expresstion
```

In [179]:
minus = lambda x, y : x-y

In [180]:
minus

In [181]:
calculator(1,2,lambda x,y: x/y)

0.5

calculator 함수에 더 큰 숫자를 리턴하는 람다 표현식을 argument로 전달.

In [182]:
calculator(1,2,lambda x,y: x if x>y else y)

2

calculator 함수에 첫번째 argument가 크면 True 그렇지 않으면 False를 리턴하는 람다 표현식을 argument로 전달.

In [183]:
calculator(1,2,lambda x,y: x>y)

False

## filter 함수

In [184]:
def my_filter(iterable,fn):
    """
    리스트 iterable의 원소들 중에서 fn의 결과값이 
           True인 원소들로만 이루어진 리스트를 리턴.

    iterable : 리스트
    fn : argument가 1개이고, 리턴 타입은 bool인 함수.
    """
    result=[]
    for i in iterable:
        if fn(i):
            result.append(i)
    return result

In [185]:
a = [123,'124']
my_filter(a,lambda x : True if type(x)==int else False)

[123]

## map 함수

In [186]:
def my_mapper(iterable,fn):
    """
    리스트 iterable의 원소들을 함수 fn의 리턴 값으로 변환한 리스트를 리턴.

    iterable : 리스트.
    fn : argument가 1개이고 리턴 값이 있는 값.
    """
    result=[fn(i) for i in iterable]
    return result

In [187]:
a=[123,'124']
my_mapper(a,lambda x : True if type(x)==int else False)

[True, False]

python에서 구현된 filter, map

In [191]:
num_list=[1,-1,-2,2]
result = filter(lambda x : x>0,num_list)
result # 필더링된 결과를 저장하고 있는 객체. 리스트 타입은 아님!

In [193]:
list(result) # 필더링된 결과를 list타입으로 변환.

[]

In [196]:
result = map(lambda x : x>=0,num_list)
result

In [197]:
list(result)

[True, False, False, True]