<a href="https://colab.research.google.com/github/ByeonJuHwan/PythonStudy/blob/main/py14_try.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오류(Error) 처리구문

* 오류가 발생한 위치와 원인을 파악해서 오류가 발생하지 않도록 코드 수정.
* 오류가 발생하더라도 프로그램이 비정상적으로 종료되지 않고 계속 실행될 수 있도록 처리 -> try 구문
    * Java는 반드시 try-catch 구문을 사용해야만 하는 Exception 종류들이 있음.
        * NullPointerException : try-catch가 불필요
        * SQLException : try-catch가 반드시 필요
    * Puthon은 모든 오류 처리에서 try-except는 필수는 아님.

```
try:
    (1) 실행할 코드 블록
except [에러 클래스 이름[as 별명]]
    (2) 에러가 발생했을 때 실행할 코드 블록
[else:
    (3) 에러가 발생하지 않았을 때 실행할 코드 블록]
[finally:
    (4) try 블록을 실행 중에 에러 발생 여부와 상관 없이 항상 실행할 코드 블록.]
```

* 에러가 발생하지 않는 경우 : (1) - > (3) - > (4)
* 에러가 발생하는 경우 : (1) -> (2) -> (4)

In [4]:
try:
    x = int(input('정수 입력 >> '))
    print(f'x={x}')
except: # 모든 종류의 에러를 처리
    print('정수로 입력해야 함!!')

정수 입력 >> 10
x=10

In [8]:
try:
    x = int(input('정수 입력 >> '))
except ValueError as e: # 모든 종류의 에러를 처리
    print(e)
else:
    print(f'x = {x}')
finally:
    print('===end===')

정수 입력 >> 10
x = 10
===end===

# Ex 1.

정수 1개를 입력받고, 입력받은 정수를 출력.

정수로 변환할 수 없는 문자열이 입력된 경우에는 적절한 오류 메시지를 출력한 후 다시 입력을 받아야 함.

In [11]:
try:
    n = int(input('정수 입력 >> '))
except:
    print('정수로 입력해야함!!')
    n = int(input('정수 입력 >> '))
    print(f'n = {n}')
else:
    print(f'n = {n}')

정수 입력 >> 10.0
정수로 입력해야함!!
정수 입력 >> 10
n = 10

# Ex 2. 단어 개수 세기

리스트 words 가 가지고 있는 단어들을 key로 하고, 그 단어가 리스트에 나오는 횟수를 값으로 하는 dict를 생성.

In [9]:
words = ['java','python','java','javascript','python','kotlin','html','python']
# word_counts = {'java' : 2, 'python' : 3, 'javascript' : 1, 'kotlin' : 1, 'html' : 1}

In [16]:
word_counts={}
a = set()
count = 0
for i in words:
    a.add(i)
a=list(a)
print(a)
for x in range(len(a)):
    for y in range(len(words)):
        if a[x] == words[y]:
            count +=1
    word_counts[a[x]] = count
    count = 0
word_counts

['python', 'java', 'html', 'javascript', 'kotlin']

{'python': 3, 'java': 2, 'html': 1, 'javascript': 1, 'kotlin': 1}