<a href="https://colab.research.google.com/github/ByeonJuHwan/PythonStudy/blob/main/py_11_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# OOP(Objet_Oriented Programming, 객체 지향 프로그래밍)

## list, dict 데이터 타입 사용 프로그래밍

In [897]:
students = [
    {'name':'aaa', 'java':100, 'python':100, 'javascript':70},
    {'name':'bbb', 'java':90, 'python':90, 'javascript':90},
    {'name':'ccc', 'java':70, 'python':70, 'javascript':70}
]

In [898]:
# 각 학생의 3과목 총점과 평균 출력
for s in students:
    total = s['java'] + s['python'] + s['javascript']
    mean = total/3
    print(f"이름 : {s['name']}, 총점 : {total}, 평균 : {mean}")

이름 : aaa, 총점 : 270, 평균 : 90.0
이름 : bbb, 총점 : 270, 평균 : 90.0
이름 : ccc, 총점 : 210, 평균 : 70.0

# 함수형 프로그래밍(Function programming)

In [899]:
def create_student(name,java,python,javascript):
    student={
        'name':name,
        'java':java,
        'python':python,
        'javascript':javascript
    }
    return student

In [900]:
students = [
    create_student('김길동',100,90,90),
    create_student('변길동',80,90,90),
    create_student('주길동',50,50,90)
]

In [901]:
def get_total(student):
    return student['java'] + student['python'] + student['javascript']

In [902]:
def get_mean(student):
    return get_total(student)/3

In [903]:
for s in students:
    name = s['name']
    total = get_total(s)
    mean = get_total(s)
    print(f'이름 : {name}, 총점 : {total}, 평균 : {mean}')

이름 : 김길동, 총점 : 280, 평균 : 280
이름 : 변길동, 총점 : 260, 평균 : 260
이름 : 주길동, 총점 : 190, 평균 : 190

## 객체 지향 프로그래밍(OOP)

In [904]:
class Student:
    # 생성자 함수 : 생성자를 호출하면 파이썬 인터프리터에 의해서 자동으로 호출되는 메서드.
    def __init__(self, name, java, python, javascript):
        self.name = name
        self.java = java
        self.python = python
        self.javascript = javascript

    def get_total(self):
        return self.java + self.python + self.javascript

    def get_mean(self):
        return self.get_total()/3

    def print_info(self):
        print(f'이름 : {self.name}, 총점 : {self.get_total()}, 평균 : {self.get_mean()}')

In [905]:
student1 = Student('홍길동',100,100,100)

In [906]:
student1.print_info()

이름 : 홍길동, 총점 : 300, 평균 : 100.0

# 클래스 작성 연습

In [907]:
import math # sqrt() 함수 사용하기 위해서

* 2차원 평면의 점의 좌표 (x,y)를 표현하는 클래스.
* 메서드 : 
    * 점의 좌표를 원래 위치에서 dx, dy만큼 이동시키는 메서드.
    * 두 점 간의 거리를 리턴하는 메서드.

In [908]:
from typing_extensions import Self
class Dott:
    def __init__(self,x=0,y=0):
        self.x = x
        self.y = y
    def __str__(self):
        return f'Dott(x={self.x},y={self.y})'
    def move_xy(self,dx,dy):
        self.x += dx
        self.y += dy
        return Self
    def get_distence(self,x2,y2):  # 거리 = distance ^^
        return math.sqrt((self.x-x2)**2+(self.y-y2)**2)

In [909]:
dott = Dott(3,3)
print(dott)

Dott(x=3,y=3)

In [910]:
dott1 = Dott(1) # Positional argumet
print(dott1)

Dott(x=1,y=0)

In [911]:
dott2 = Dott(y=1) # keyword
print(dott2)

Dott(x=0,y=1)

In [912]:
dott.move_xy(3,3)
print(f'{dott.x}, {dott.y}') # 인스턴스의 속성(필드)

6, 6

In [913]:
dott.get_distence(3,3)

4.242640687119285

# magic method

모든 클래스가 같은 이름으로 가지고 있는 메서드. 특별한 경우에 자동으로 호출되는 메서드.

* `__init__(self)` : 생성자를 호출하면 자동으로 호출되는 메서드. 인스턴스 변수 선언 & 초기화.

* `__str__(self)` : 문자열을 리턴하는 메서드. `print()` 함수 안에서 자동으로 호출됨.

* `__repr__(self)` : 문자열을 리턴하는 메서드. 식(expression)을 출력할 때 자동으로 호출되는 메서드.
    * 클래스에서 `__str__` 메서드와 `__repr__` 메서드를 다르게 구현하면, print() 함수로 출력하는 내용과 식을 자동으로 출력하는 내용이 서로 다름.
    * print() 함수는 `__str__` 메서드가 구현되어 있으면 `__str__` 메서드를 호출하고, `__str__` 메서드가 구현되어 있지 않으면 `__repr__` 메서드를 호출함.
* `__eq__(self,o)` : 두 객체가 같은지 (True) 다른지 (False)를 리턴하느 메서드. `==` 연산자를 사용했을 때 자동으로 호출되는 메서드.
* `__add_(self,o)` : `+` 연산자를 사용했을 때 자동으로 호출되는 메서드.
* `__mul__(self,o)` : `*` 연산자를 사용했을 때 자동으로 호출되는 메서드.

In [914]:
class T:
    def __str__(self):
        return 'class T instance'
    def __repr__(self):
        return 'T'

t = T()
print(t) # print 함수를 사요한 출력
t # 셀의 가장 마지막 줄에 있는 표현식의 자동 출력

class T instance

T

In [915]:
list1=[1,2,3]
list2=[1,2,3]

In [916]:
list1 == list2 # list1.__eq__(list2)

True

In [917]:
list1 + list2 # list1.__add__(list2)

[1, 2, 3, 1, 2, 3]

In [918]:
list1 * 3 # list1.__mul__(list2)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [919]:
class Number:
    def __init__(self, x):
        self.x = x
    def __repr__(self):
        return f'{self.x}'
    def __eq__(self,other):
        return self.x==other.x
    def __add__(self,other):
        return self.x + other.x

In [920]:
n1 = Number(1)
n2 = Number(2)
n3 = Number(1)

In [921]:
print(n1,n2,n3)

1 2 1

In [922]:
print(n1==n2)
print(n1==n3)

False
True

In [923]:
n1+n2

3

# 클래스 작성 연습

* class Score
    * 속성 : korean, english, math
    * 메서드 : 총점, 평균, `__repr__`,`__eq__`

* class Student
    * 속성 : stu_no, stu_name, score(Score 객체타입)
    * 메서드 : `__repr__`

In [924]:
class Score:
    def __init__(self, korean,english,math):
        self.korean = korean
        self.english = english
        self.math = math
    def __eq__(self,o):
        return self.korean == o.korean
    def add_All(self):
        return self.korean + self.english + self.math
    def ave(self):
        return self.add_All()/3
    def __repr__(self):
        return f"국어 = {self.korean}, 영어 = {self.english}, 수학 = {self.math}, 총점 = {self.add_All()}, 평균 = {self.ave()}"

In [925]:
class Student:
    def __init__(self, stu_no,stu_name,Score):
        self.stu_no = stu_no
        self.stu_name = stu_name
        self.Score = Score
    def __repr__(self):
        return f"학생 번호 : {self.stu_no}, 학생 이름 : {self.stu_name}, 점수 : {self.Score}"

In [926]:
score1 = Score(100,100,100)
score2 = Score(100,90,90)
score3 = Score(70,70,70)

In [927]:
student1 = Student(1,'변주환',score1)
student2 = Student(2,'채수빈',score2)

In [928]:
print(score1 == score2)
score1 == score3

True

False

In [929]:
print(score1)
print(score2)
score3

국어 = 100, 영어 = 100, 수학 = 100, 총점 = 300, 평균 = 100.0
국어 = 100, 영어 = 90, 수학 = 90, 총점 = 280, 평균 = 93.33333333333333

국어 = 70, 영어 = 70, 수학 = 70, 총점 = 210, 평균 = 70.0

In [930]:
print(student1)
student2

학생 번호 : 1, 학생 이름 : 변주환, 점수 : 국어 = 100, 영어 = 100, 수학 = 100, 총점 = 300, 평균 = 100.0

학생 번호 : 2, 학생 이름 : 채수빈, 점수 : 국어 = 100, 영어 = 90, 수학 = 90, 총점 = 280, 평균 = 93.33333333333333